<div><%= link_to "ログイン", "/login" %></div>

<% flash.each do |key, value|%>
    <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<div>
    <% @tweets.each do |tweet| %>
        <div>
            --------------------------------<br>
            <% user = User.find_by(:id => tweet.uid) %>
            <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %></br>
            <%= tweet.content %>
        </div>
    <% end %>
</div>