<div><%= link_to "トップ", "/tweets" %></div>

<div>
    ユーザー一覧</br>
    <% @users.each do |user|%>
        <div>
            <%= link_to user.name + "@" + user.username, "/users/show/" + user.id.to_s %></br>
            ------------------------------</br>
    </div>
    <% end %>
</div>
