/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a           {color: #000000;
            text-decoration: none}
a:hover     {color: #ff8800}

header      {width: 800px;
            margin-left: auto;
            margin-right: auto}

#head-fixed {background-color: #ffffff;
            z-index: 2;
            position: fixed;
            top: 0px;
            border-bottom: solid 1px #aaaaaa;
            padding: 5px}

nav         {text-align: right;
            width: 800px;
            margin-top: -22px;
            margin-bottom: 5px}

nav ul      {list-style-type: none;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            font-size: 0} 

nav li      {display: inline;
            font-size: 12px;
            border-right: solid 1px #aaaaaa;
            padding-left: 10px;
            padding-right: 10px}

nav li:first-child {border-left: solid 1px #aaaaaa}

#container  {position: relative;
            top: 35px;
            width: 800px;
            margin-left: auto;
            margin-right: auto}

