// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#right-tweet-form   {top: 65px;
                    float: right;
                    width: 200px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    margin-left: auto;
                    margin-right: auto}

#right-tweet-form-fixed {position: fixed;
                        top: 65px;
                        width: 200px;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        border: solid 1px #aaaaaa;
                        padding : 30px}

#left-tweet-block    {position: absolute;
                    top: 20px;
                    float: left;
                    width: 570px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;}

.tweet-content  {margin :2px;
                border: solid 1px #aaaaaa;
                padding: 5px;}

.tweet-head {border-bottom: solid 1px #aaaaaa}